<div class="devise-container">
	<h1>Edit Post</h1>

	<%= render 'form' %>

	<%= link_to raw('<span class="glyphicon glyphicon-chevron-left"></span> Back'), pins_path %> |
	<%= link_to raw('<span class="glyphicon glyphicon-trash"></span> Delete'), @pin, method: :delete, data: { confirm: 'This is permanent. Are you sure?' } %>
</div>