<div class="blog-background">
	<div class="devise-container">
	<h1>Write a New Blog</h1>
	<br>

	<%= render 'form' %>
	<%= link_to raw('<span class="glyphicon glyphicon-chevron-left"></span> Back'), pins_path %>
	</div>
</div>