<div class="contact-image-container center">
	<%= image_tag("contactus.jpg", alt: "Babson Rugby") %>
</div><!-- Contact Image Ends -->

<div class="contact-overlay-text">
	<div class="overlay-text-container">
		<h1>Contact Us Today.</h1>
	</div>
</div><!-- Contact Overlay Text Ends -->

<div class="contact-background clear">
	<div class="contact-wrap">
		<div class="contact-container-1">
			  	<br>
			  <form method="post" action="mailto:canrecover@gmail.com?subject=I want to be involved with CAN Recover" enctype="text/plain" id="form1">	
			  	<div class="input-group">
			  		<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
					  <input type="text" class="form-control" placeholder="Your Name *" name="Name" id="fname">
					</div>
						<br>
					<div class="input-group">
					  <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
					  <input type="text" class="form-control" placeholder="Your Email *" name="Email" id="femail">
					</div>
						<br>
					<div class="input-group">
					  <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
					  <textarea rows="10" class="form-control" placeholder="Your Message *" name="Message" id="fmessage"></textarea>
					</div>
					<br>
					<p>* Required</p>
					<div id="required-field">
						<div class="required" id="the-name">Name Required!</div>
						<div class="required" id="the-email">Email Required!</div>
						<div class="required" id="the-message">Message Required!</div>
					</div>

					<p>Thank you for your mail.  We will work to get back to you within 24 hours.</p>
					<br>
					<button type="button" onclick="processForm()" class="btn btn-lg btn-info pull-left">Send</button>
				</form><!-- Form Ends -->
					<br><br><br><br><br>
		</div><!-- Contact Container 1 Ends -->
		<div class="vertical-hr3"></div>

		<div class="contact-container-2">
			<p>Inquiries will be delivered to: <br><br>[ Aaron Rocha, Co-Founder & CEO Aaron@canrecover.org ]</p> 

			<br>

			<div class="fb-like" data-href="https://www.facebook.com/CANrecover" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
			<br><br>
			<a href="https://twitter.com/CANrecover" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @CANrecover</a>

		</div><!-- Contact Container 2 Ends -->
	</div><!-- Contact Wrap Ends -->
</div><!-- Contact Background Ends -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>