<div class="homepage-image-container">
	<%= image_tag("babson-home.jpg", alt: "Babson Student Athlete") %>
</div><!-- Homepage Image Ends -->

<div id="parallelogram"></div>

<div class="homepage-overlay-text">
	<div class="overlay-text-container">
		<h3>Be Educated.</h3><h2>Be Prepared.</h2><h1>Be Protected.</h1><br>
		<%= button_to "Learn How", medical_overview_path, class: "btn btn-lg btn-warning", method: "get" %>
	</div>
</div><!-- Homepage Overlay Text Ends -->

<div class="home-description clear">
	<div class="home">
		<h1>The CAN Recover Foundation</h1><br><br>
		<p>CAN Recover Foundation’s mission is to provide support for student-athlete’s suffering post-concussion syndrome and educate those in the community surrounding them. Studies have shown that a student-athlete undergoing a prolonged concussions recovery would find another student-athlete who has experienced it first hand to be most trustworthy, effective, and empathetic. CAN Recover is the only organization to provide this support.</p>
	</div>
	<div class="vertical-hr"></div>
	<div class="home">
		<h1>What We Do.</h1>
		<p style="color: #A1A3A5; font-size: 13px; padding-left: 5px;">We protect the health of student athletes.</p>
		<br><br><br>
		<div id="what-we-do-list"><p>1. Support Patients.</p>
		<p>2. Educate the Community.</p>
		<p>3. Expedite Clinical Research.</p></div>
	</div>
</div><!-- Home Description Ends -->
<%= render "layouts/donate" %>


