<div class="story-image-container center">
	<%= image_tag("collision.jpg", alt: "Concussions") %>
</div><!-- Homepage Image Ends -->

<div class="story-overlay-text">
	<div class="overlay-text-container">
		<h1>"The first step toward change is awareness."</h1><br>
		<h5>- Nathaniel Branden</h5>
	</div>
</div><!-- Story Overlay Text Ends -->

<div class="overview-container">
	<h1 class="center" style="color: black;">Truths about Concussions</h1>
	<p class="center" style="color: #B8B4B4;">Source: Boston Children's Hospital</p>
	<br><br>
	<p class="overview-text bold">"What is a concussion anyway?"</p><br>
	<p class="overview-text">Concussions are traumatic brain injuries that result from the brain going into a spinning motion. This is most often because of a direct blow to the head, but can also be caused by a blow to the body that snaps the head forward or backward.</p>
	<br>
	<p class="overview-text">Sometimes, a concussion causes an immediate loss of consciousness, but a child can also appear fine at first and then have symptoms develop later. Symptoms of a concussion usually include:</p><br>
	<ul class="overview-text">
		<li>headaches</li>
		<li>difficulty falling or staying asleep (insomnia) or excessive sleepiness</li>
		<li>nausea</li>
		<li>dizziness</li>
		<li>confusion</li>
		<li>difficulty concentrating</li>
		<li>difficulty remembering things</li>
		<li>problems with balance and coordination</li>
	</ul><br>
	<p class="overview-text">These symptoms can last anywhere from a few minutes to a few weeks after the injury. All concussions cause some disruption to the brain, and call for an exam by your child’s regular doctor as well as careful monitoring.
	</p>
	<br>
	<p class="overview-text">The good news is that most concussions don’t cause any lasting effects, and most children make a complete recovery with physical and mental rest. Even when concussions lead to complications, advances in concussion diagnostics and treatment make the majority of cases very treatable.</p>
	</p>
	<br>
	<p class="overview-text bold">“Why is there such a focus on concussions in student-athletes?"</p><br>

	<p class="overview-text">While children frequently sustain concussions for other reasons – falls or car accidents, for example – student-athletes are at particular risk. According to the U.S. Department of Health and Human Services’ Centers for Disease Control and Prevention, as many as 3.8 million concussions happen each year in the U.S. during sports or recreational activities. This is especially troubling because:</p><br>
	<ul class="overview-text">
		<li>an athlete who has had a concussion is at increased risk of suffering another</li>
		<li>athletes can develop second impact syndrome if they sustain another concussion before a prior concussion has fully healed. This is a rare but severe syndrome that can cause swelling in the brain, brain damage, coma and even death.</li>
	</ul><br>

	<p class="overview-text">For more information, please visit the <a href="http://www.childrenshospital.org/health-topics/conditions/concussions" target="_blank">Boston Children’s Hospital</a> website.</p><br>

	<p class="overview-text italic" style="color: #AFADAD;">DISCLAIMER:  NO INFORMATION ON THIS SITE SHOULD BE PERCEIVED AS MEDICAL ADVICE.  PLEASE CONTACT YOUR DOCTOR WITH ANY MEDICAL RELATED QUESTIONS YOU MAY HAVE.</p>

	<br><br><br><br><br><br><br><br><br><br><br><br>
</div><!-- Overview Container Ends -->