<div class="story-image-container center">
	<%= image_tag("story.jpg", alt: "Aaron Rocha and Mike Santee, Co-Founders") %>
</div><!-- Homepage Image Ends -->

<div class="story-overlay-text">
	<div class="overlay-text-container">
		<h1>"The hardest part to overcome is feeling that you are all alone."</h1><br>
		<h5>- Aaron Rocha, Co-Founder</h5>
	</div>
</div><!-- Story Overlay Text Ends -->

<div class="story-background">
	<div class="story-container">
		<h1>How It All Started</h1>
		<br><br>
		<p style="#777676">CAN Recover was inspired by the experience of its founders, Mike and Aaron, and the realization of a patient's need.  Both Aaron and Mike battled post-concussion syndrome for up to 2 years and were withheld from returning to the sports they love.  Through their experiences they realized that there is no effective support available for student-athletes like themselves.  Seeing how much impact they had on each other’s recoveries by providing empathetic support, they immediately wanted to start helping others overcome the physical and emotional challenges of prolonged concussion recoveries.<br><br>

		The hardest part to overcome is feeling that you are all alone. But in reality, it is estimated that over 150,000 student-athletes undergo a prolonged concussion recovery (3+ weeks) in the US every year. 
		</p>
		<br>
		<hr>
	</div><!-- Story Container Ends -->

	<div class="founder-portrait">
		<%= image_tag "aaronrocha.jpg", alt: "Aaron Rocha, Co-Founder of CAN Recover", class: "img-circle" %>
		<%= image_tag "mikesantee.png", alt: "Mike Santee, Co-Founder of CAN Recover", class: "img-circle" %>
	</div><!-- Founder Portrait Ends -->
	<div class="founder-portrait-name">
		<h1>Aaron Rocha</h1>
		<h1>Mike Santee</h1>
	</div><!-- Founder Portrait Name Ends -->
	<div class="founder-portrait-description clear">
		<div class="founder-storybox">
			<p>Aaron grew up as the youngest of three in a family of athletes.  Growing up and playing every sport with the high-schoolers that his parents coached, Aaron was immediately attached to hockey and grew into lacrosse when his family moved to Rye, NH when he was 12.  Aaron ultimately went on to play Division III lacrosse at Babson College.
			<br><br>
			After undergoing a five month recovery from a concussion sustained on October 7th in his sophomore year, Aaron was fortunate and eager to return to the field.  Junior year fall ball was off to a good start until exactly one year since his last, he was diagnosed with another concussion on October 7th, 2012—an injury that lingered about 18 months.  Four months into the recovery, Aaron’s brother introduced him to Mike.  Through Mike’s support, the two realized common ground in the challenges they were facing undergoing prolonged concussion recoveries, both physical and emotional.  Then they realized that there were limited resources available that could provide the support they needed.  With a desire to help, they put their brains together to create CAN Recover Foundation, Inc.
			<br><br>
			Aaron recently graduated from Babson College with a Bachelor of Science in Business Management.</p>
		</div><!-- Founder Storybox Aaron -->
		
		<div class="vertical-hr2"></div>

		<div class="founder-storybox">
			<p>Mike was born and raised in the Chicago area and played just about every sport he could get fit in his schedule.  As he entered high school, he decided that he wanted to be a Division I college hockey player.  After stops in Grand Rapids, Michigan and Pembroke, Ontario, Mike was recruited to play for the United States Military Academy at West Point.  He played 53 career games over two seasons at Army before retiring as a result of post-concussion syndrome.
				<br><br>
			Mike estimates that he has had 8 concussions over the course of his career, many of which he failed to treat properly.  His last concussion, suffered in May of 2011, was followed by 24 months of post-concussion syndrome, which included headaches, fogginess, depression, memory issues, and cognitive difficulties, amongst other symptoms.  His difficulties during these months inspired him to reach out and help others facing similar challenges.  He was introduced to Aaron by one of his Army Hockey teammates, Aaron’s brother.  Aaron and Mike found they both had the same passion and CAN Recover Foundation was born.
				<br><br>
			Mike was recently commissioned as a 2nd Lieutenant in the US Army, majoring in Business Management.  He currently serves in the Engineer Regiment.</p>
		</div><!-- Founder Storybox Mike -->
	</div><!-- Founder Portrait Name Ends -->
</div><!-- Story Background Ends -->