/* Cross browser compatibility */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }

/* Improved Link styling */

a {

	text-decoration: none;
	transition: all 0.3s ease-out;
	padding: .5em;
	margin: -.5em;
}

a:hover {
	background-color: transparent !important;
	text-decoration: none !important;
}

/* CSS snippet tools */

.center { text-align: center;}

.right { text-align: right;}

.left { text-align: left;}

.float-left {	float: left;}

.float-right {	float: right;}

.bold { font-weight: bold;}

.clear:before, 
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.center-page {
	width: 78%;
	margin: auto;
}

.hide {
	display: none;
}

.hidden {
	visibility: hidden;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.vertical-hr {
	width: 1px; 
	height: 425px;
	background-color: #D8DADC;
	float: left;
	display: inline-block;
	margin-top: 25px;
	margin-left: 35px;
	margin-right: 35px;
}

.vertical-hr2 {
	width: 1px; 
	height: 450px;
	background-color: #D8DADC;
	float: left;
	display: inline-block;
	margin: 0 15px;
}

.paginate a {
	color: inherit;
}

.paginate a:hover {
	color: #4F7DBF; 
}