<div class="donate-background">
	<div class="donate-container clear">
		<h1>Help Our Cause.</h1>
		<br><br>
		<p>All donations go toward helping CAN Recover achieve its mission to support the student-athlete suffering post concussion syndrome, educate the community surrounding them, and expedite clinical research efforts.<br><br>
		We greatly appreciate your support!<p> 
			<br><br>
		<div id="home-donate-pic"><%= image_tag "sprout.png" %></div>
		<div id="paypal"><%= image_tag "paypal.png", alt: "Secure Payments by PayPal", style: "margin-left: -25px;" %><%= button_to "Donate", support_path, class: "btn btn-lg btn-success", method: "get" %></div>
	</div><!-- Donate Container Ends -->
	<br><br><br><br>
</div><!-- Donate Background Ends -->