<div class="donate-background">
	<div class="donate-container clear">
		<h1>Help Our Cause.</h1>
		<br><br>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida tellus a aliquam posuere. Cras nec iaculis ligula. Vivamus tristique eget nunc sed varius. Nunc nunc nunc, dapibus quis aliquam eget, ultrices in neque. Aliquam sed ultrices purus. Vivamus vel luctus mauris. Etiam quis orci nec tellus sagittis auctor. Sed et enim a enim vehicula aliquam. Nullam iaculis hendrerit urna at varius. Ut semper lacus diam.<p> 
			<br><br>
		<div id="home-donate-pic"><%= image_tag "sprout.png" %></div>
		<div id="paypal"><%= image_tag "paypal.png", alt: "Secure Payments by PayPal", style: "margin-left: -25px;" %><%= button_to "Donate", support_path, class: "btn btn-lg btn-success", method: "get" %></div>
	</div><!-- Donate Container Ends -->
	<br><br><br><br>
</div><!-- Donate Background Ends -->