<div id="pvc"><span class="patient-view-text">Patient View</span></div>
<div id="pvc-inner">
	<p>www.CANrecover.org is specifically designed for concussion patients who often have difficulty reading screens. Patient View 1 and 2 are the two most comfortable designs we identified for concussion patients. The Traditional View is targeted towards nonconcussion patients.</p>
	<ul>
		<li id="pv1">Patient View 1 [Default]</li>
		<li id="pv2">Patient View 2</li>
		<li id="pv3">Traditional View</li>

		<li id="fs-plus">Font-size +</li>
		<li id="fs-minus">Font-size -</li>
	</ul>
</div>

<!-- jQuery Effect for Slider Tab -->
<script>
	$(document).ready(function(){
		$('#pvc').click(function(){
			$('#pvc').toggleClass("add-bottom");
			$('#pvc-inner').toggleClass("add-bottom-2");
		});

		$('#pv1').click(function() {
			$('.navbar-background-color, .home-background, .home, .story-background, .overview-background, .support-1-background, .supportbox, .blog-background, .contact-background').css({"color" : "#FFF", 'background-color' : "#4B4B4B"});
			$('.navlinks > a, .home p').css("color", "#FFF");
			$('.donate-background, .support-background').css({"background-color" : "#1C1C1C", "color" : "#FFF"});
			$('.footer-background').css("background-color", "#151515");
			$('.footer-background a, .footer-background p, .footer-address').css("color", "#FFF");
			$('.navbar-background-color').css("box-shadow", "1px 1px 1px #2E2E2E")
		});

		$('#pv2').click(function() {
			$('.home-background, .home, .navbar-background-color, .story-background, .overview-background, .support-1-background, .supportbox, .blog-background, .contact-background').css({"background-color": "#D8D8D8", "color": "black"});
			$(".navlinks a, .home p").css("color", "black");
			$('.donate-background, .support-background').css({"background-color" : "#C4C4C4", "color" : "black"});
			$('.footer-background').css("background-color", "#ABABAB");
			$('.footer-background a, .footer-background p, .footer-address').css("color", "black");
			$('.navbar-background-color').css("box-shadow", "1px 1px 1px #B7B7B7");
		});

		$('#pv3').click(function() {
			$('.home-background, .home, .navbar-background-color, .story-background, .overview-background, .support-1-background, .supportbox, .blog-background, .contact-background').css({"background-color": "#FFF", "color": "black"});
			$(".navlinks a, .home p").css("color", "black");
			$('.donate-background, .support-background').css({"background-color" : "#F5F8FA", "color" : "black"});
			$('.footer-background').css("background-color", "#3E3E3E");
			$('.footer-background a, .footer-background p, .footer-address').css("color", "#FFF");
			$('.navbar-background-color').css("box-shadow", "1px 1px 1px #DDDDDD");
		});

		$('#fs-plus').click(function() {
			$('.home h1, .home h3, .home p, .donate-container h1, .donate-container p, .story-container p, .story-container h1, .founder-portrait-name h1, .founder-storybox p, .overview-container h1, .overview-container p, .support-1-background .support-container h1, .support-background .support-container h1, .supportbox h3, .supportbox p, #blogtitle, #blogauthor, #blogbody, .contact-wrap p').css("font-size", "+=1");
			$('.supportbox').css("height", "+=15");
		});

		$('#fs-minus').click(function() {
			$('.home h1, .home h3, .home p, .donate-container h1, .donate-container p, .story-container p, .story-container h1, .founder-portrait-name h1, .founder-storybox p, .overview-container h1, .overview-container p, .support-1-background .support-container h1, .support-background .support-container h1, .supportbox h3, .supportbox p, #blogtitle, #blogauthor, #blogbody, .contact-wrap p').css("font-size", "-=1");
			$('.supportbox').css("height", "-=15");
		});
	}); 
</script>